__pycache__
adp_env
centroids
checkpoints
data
gradients
outputs
our_outputs
their_outputs
checkpoints
pretrained
prompt_based
centroids_recursive
building_data
env_outputs
pet_data
pet_outputs
comparison_grids_custom
final_results
umap_plots
ball_data
vhl_data
scratch
face_outputs
doctor_outputs
doc_data
clustered_images
clustered_images_faces
train_data
face_data