__pycache__
adp_env
centroids
checkpoints
data
gradients
outputs
our_outputs
their_outputs
checkpoints
pretrained
prompt_based
centroids_recursive
building_data
env_outputs
pet_data
pet_outputs
comparison_grids_custom
final_results
umap_plots
ball_data
vhl_data